.about {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  color: white;
}
@media (max-width: 670px) {
  .about {
    padding: 50px 10vw 100px 10vw;
  }
  .about p {
    margin: 0;
  }
}
@media (max-height: 600px) {
  .about {
    padding: 5vw;
  }
  .about p {
    font-size: 14px;
  }
}
