.about {
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
  color: white;
}
@media (max-width: 670px) {
  .about {
    padding: 50px 10vw 100px 10vw;
  }
  .about p {
    margin: 0;
  }
  .card {
    margin: 0;
  }
  .card ul {
    margin-bottom: 0;
  }
}
.aboutGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto;
  grid-template-areas:
    'languages frontend'
    'backend infrastructure';

  --stager-delay: 100ms;
}
.card {
  animation: cardEntrance 700ms ease-out;
  animation-fill-mode: backwards;
}
.card h3 {
  text-align: center;
  background: #ffffff56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: clamp(14px, 1.8dvw, 28px);
}
.card ul {
  padding: 0;
}
.card li {
  list-style-type: none;
  text-align: center;
  letter-spacing: 2px;
  font-size: clamp(10px, 1.8dvw, 20px);
}
.languages {
  grid-area: languages;
  animation-delay: calc(1 * var(--stagger-delay));
}

.frontend {
  grid-area: frontend;
  animation-delay: calc(2 * var(--stagger-delay));
}

.backend {
  grid-area: backend;
  animation-delay: calc(3 * var(--stagger-delay));
}
.infrastructure {
  grid-area: infrastructure;
  animation-delay: calc(4 * var(--stagger-delay));
}
.custom-shape-divider-bottom-1722039305 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722039305 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 145px;
}

.custom-shape-divider-bottom-1722039305 .shape-fill {
  fill: var(--alibeige);
}
/* .link {
  position: absolute;
  bottom: 8px;
  color: green;
  z-index: 2;
} */

/*@keyframes cardEntrance {
  from {
    opacity: 0;
    transform: scale(0.3);
    filter: hue-rotate(180deg);
  }
  to {
    opacity: 1;
    transform: scale(1);
    filter: hue-rotate(0deg);
  }
}*/
