.custom-shape-divider-bottom-1722039305 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722039305 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 145px;
}

.custom-shape-divider-bottom-1722039305 .shape-fill {
  fill: var(--alibeige);
}
