.contact {
  height: 80vh;
  min-height: 400px;
  padding: 100px 20vw;
  color: var(--alibeige);
}
.contactBloc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-height: 700px) {
  .description p {
    margin: 0;
  }
}
