.contact {
  height: 80vh;
  min-height: 400px;
  padding: 100px 20vw;
  color: var(--alibeige);
}
.contactBloc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (max-height: 700px) {
  .contact {
    padding: 5vw 5vw 100px 5vw;
  }
  .description p {
    margin: 0;
  }
}
