:root {
  line-height: 1.5;
  font-weight: 400;
}
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;

  --aliblue: rgb(0, 74, 173);
  --alibeige: rgb(228, 226, 221);
  --h3: clamp(18px, 1.8dvw, 28px);
  --h4: clamp(14px, 1.8dvw, 20px);
  --p: clamp(14px, 1.5dvw, 18px);
}
h1 {
  font-family: 'Chewy', system-ui;
  font-size: clamp(40px, 5.9dvw, 80px);
  line-height: 1.1;
}
h2 {
  font-size: clamp(20px, 2.3dvw, 60px);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-family: 'Lato', sans-serif;
  font-size: var(--p);
}
.blue {
  background: #004aad;
}

.red {
  background: red;
}
.pink {
  background: pink;
}
.dark {
  background: #0f0f10;
}
.white {
  background: #e4e2dd;
}
/*:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/
