:root {
  line-height: 1.5;
  font-weight: 400;
}
body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: black;
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;

  --aliblue: #004aad;
  --alibeige: #e4e2dd;
  --h3: clamp(18px, 1.8dvw, 28px);
  --h4: clamp(14px, 1.8dvw, 20px);
  --p: clamp(14px, 1.5dvw, 18px);
}
h1 {
  font-family: 'Chewy', system-ui;
  font-size: clamp(40px, 5.9dvw, 80px);
  line-height: 1.1;
}
h2 {
  font-size: clamp(20px, 2.3dvw, 60px);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
p {
  font-family: 'Lato', sans-serif;
  font-size: var(--p);
}
.blue {
  background: #004aad;
}

.red {
  background: red;
}
.pink {
  background: pink;
}
.dark {
  background: #0f0f10;
}
.white {
  background: #e4e2dd;
}
