.projects {
  height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 100px 20vw;
  background-color: var(--alibeige);
  color: black;
}
.main-section {
  display: grid;
  grid-template-areas:
    'aloha presentation'
    'alohapi presentation'
    'specto presentation';
  grid-row-gap: 0;
  grid-column-gap: 1.5em;
  align-items: center;
}
@media (max-width: 1219px) {
  .projects {
    padding: 100px 10vw;
  }
}
@media (max-width: 1009px) {
  .main-section {
    grid-template-areas:
      'presentation presentation presentation'
      'aloha alohapi specto';
    grid-row-gap: 1.5em;
    grid-column-gap: 0.5em;
  }
}
.main-section .description-container {
  background: #ffffff56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
  border-radius: 5px;
  padding: 16px;
  min-height: 15vh;
}
.aloha {
  grid-area: aloha;
}
.alohapi {
  grid-area: alohapi;
}
.specto {
  grid-area: specto;
}
.presentation {
  grid-area: presentation;
}
.project-name {
  background: none;
  border: none;
  font: inherit;
  margin: 0 auto;
  width: clamp(91px, 8vw, 136px);
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* padding: 1em; */
  padding: auto;
  position: relative;
  color: black;
  border-radius: 5px;
  z-index: 1;
  font-size: var(--p);
  /* font-weight: 600; */
  background: #ffffff56;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.164);
}
/* .project-name::before,
.project-name::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 5px;
  width: 105%;
  transition: all 0.4s;
}
.project-name::before {
  left: 0%;
  height: 130%;
}
.project-name::after {
  left: -10%;
  height: 120%;
}
.project-name:active::before {
  transform: translateX(-2.5%);
}
.project-name:active::after {
  transform: translateX(15%);
} */
.custom-shape-divider-bottom-1722035468 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722035468 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.custom-shape-divider-bottom-1722035468 .shape-fill {
  fill: var(--aliblue);
}
