.custom-shape-divider-bottom-1722035468 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1722035468 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 128px;
}

.custom-shape-divider-bottom-1722035468 .shape-fill {
  fill: var(--aliblue);
}
